body {
    background-color: #cccccc;
    #header {
        background-color: #009999;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        #nav_a {
            font-family: 'Dancing Script', cursive;
        }
        a {
            color: white;
        }
        #nav_ul {
            a {
                padding: 5px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 5px;
                border: 1px #009999 solid;
                border-radius: 5px;
                font-family: 'Raleway', sans-serif;
                -webkit-transition: background-color 1s, border 1s, border-radius 1s, color 1s, -webkit-transform 1s;
                transition: background-color 1s, border 1s, border-radius 1s, color 1s, transform 1s;
                &:hover {
                    background-color: white;
                    color: #ff0066;
                    border-radius: 5px;
                    border: 1px black solid;
                }
            }
        }
        #nav_button {
            background-color: #cccccc;
            margin: 5px;
        }
    }
    #famous_women {
        background-color: #404040;
        color: white;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        p {
            font-family: 'Dancing Script', cursive;
            font-size: 20px;
            margin-bottom: 0;
        }
        img {
            opacity: 0.75;
            width: 90%;
        }
    }
    #fw_body {
        background-color: #cccccc;
        .row {
            div {
                div {
                    background-color: white;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    opacity: 0.75;
                    transition: opacity 1s ease-in-out;
                    &:hover {
                        opacity: 1;
                    }
                    &:first-child {
                        padding-top: 10px;
                    }
                }
                &:nth-child(1) {
                    animation-name: example1;
                    animation-duration: 1s;
                }
                &:nth-child(2) {
                    animation-name: example2;
                    animation-duration: 1s;
                }
                &:nth-child(3) {
                    animation-name: example3;
                    animation-duration: 1s;
                }
                &:nth-child(4) {
                    animation-name: example1;
                    animation-duration: 1s;
                }
                &:nth-child(5) {
                    animation-name: example4;
                    animation-duration: 1s;
                }
                &:nth-child(6) {
                    animation-name: example3;
                    animation-duration: 1s;
                }
                .box_title {
                    color: #009999;
                    margin-bottom: 0;
                }
                p {
                    padding: 5px;
                    text-align: center;
                    font-size: 12px;
                    font-family: 'Raleway', sans-serif;
                }
                img {
                    padding: 15px;
                    -webkit-transition: all 1.0s ease 0s;
                    -moz-transition: all 1.0s ease 0s;
                    -o-transition: all 1.0s ease 0s;
                    -ms-transition: all 1.0s ease 0s;
                    transition: all 1.0s ease 0s;
                    &:hover {
                        -webkit-transform: rotate(-15deg);
                        -moz-transform: rotate(-15deg);
                        -ms-transform: rotate(-15deg);
                        -o-transform: rotate(-15deg);
                        transform: rotate(-15deg);
                        -webkit-backface-visibility: hidden;
                    }
                }
            }
        }
    }
    #organizations {
        background-color: #eeeeee;
        font-family: 'Raleway', sans-serif;
        position: relative;
        p {
            padding-top: 1%;
            padding-left: 1%;
        }
        ul {
            list-style-image: url('../images/heart.png');
            list-style-position: inside;
            li {
                color: #009999;
                opacity: 0.75;
                margin-bottom: 5px;
                &:hover {
                    color: red;
                    opacity: 1;
                }
            }
        }
        img {
            position: absolute;
            right: 10%;
            top: 25%;
        }
    }
    #fun_facts {
        background-color: #eeeeee;
        font-family: 'Raleway', sans-serif;
        ul {
            list-style-image: url('../images/star.png');
            list-style-position: inside;
            li {
                opacity: 0.75;
                margin-bottom: 5px;
                &:hover {
                    opacity: 1;
                    background-color: white;
                }
                &:first-child {
                    margin-top: 10px;
                }
                a {
                    text-decoration: none;
                    color: #009999;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
    #page2 {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        #personalize {
            font-size: 30px;
            color: #404040;
            text-align: center;
            margin-top: 15px;
        }
        #done {
            float: right;
            background-color: #3ec5ea;
            color: #fff;
            font-size: 14px;
            border: 1px solid #baeffd;
            border-radius: 3px;
            cursor: pointer;
            padding: 5px;
            opacity: 1;
            text-align: center;
            margin-top: 15px;
            &:hover {
                opacity: 0.85;
            }
        }
        #tap_to_row {
            border-bottom: 1px solid #999999;
            #tap_to {
                color: #404040;
                text-align: center;
                padding-top: 20px;
            }
        }
        #want_more_row {
            border-bottom: 1px solid #999999;
            text-align: center;
            padding-top: 10px;
            a {
                text-decoration: none;
            }
        }
        #the_list {
            width: 80%;
            margin-left: 10%;
            .the_list_tr {
                height: 40px;
            }
            .check {
                width: 40px;
                padding: 5px;
                background-image: url(../images/check.png);
                background-repeat: no-repeat;
                background-position: 5px;
                cursor: pointer;
                height: 25px;
            }
            .empty {
                width: 40px;
                padding: 5px;
                background-image: url(../images/empty.png);
                background-repeat: no-repeat;
                background-position: 0px;
                cursor: pointer;
                height: 25px;
            }
            .drag {
                width: 40px;
                padding: 5px;
                background-image: url(../images/stack.png);
                background-repeat: no-repeat;
                background-position: 5px;
                cursor: pointer;
                height: 25px;
            }
        }
        #mobile_tiles_foot {
            background-color: #4e677e;
            padding: 10px;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            div {
                padding: 10px 0;
                white-space: nowrap;
                overflow: hidden;
                span {
                    background-color: #3ec5ea;
                    color: #fff;
                    font-size: 14px;
                    border: 1px solid #baeffd;
                    border-radius: 3px;
                    cursor: pointer;
                    padding: 10px;
                    opacity: 1;
                    &:hover {
                        opacity: 0.85;
                    }
                }
            }
        }
    }
    #page1 {
        font-family: 'Raleway', sans-serif;
        #logo {
            width: 150px;
            padding: 10px;
        }
        #settings_icon {
            width: 30px;
            float: right;
            margin: 10px;
            cursor: pointer;
        }
        #img_table {
            div {
                position: relative;
                padding: 0;
                .img-responsive {
                    border: 2px solid white;
                    margin: 0;
                }
                .table_p {
                    color: white;
                    font-size: 12px;
                    position: absolute;
                    top: 5px;
                    font-size: 14px;
                    padding-left: 5px;
                }
            }
        }
    }
    #carContainer {
        width: 100%;
        margin: 0;
        .carousel.slide {
            width: 100%;
            .carousel-inner {
                width: 100%;
                margin: auto;
                .item {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .carousel-caption {
                    font-size: 22px;
                }
            }
            #left-car {
                img {
                    position: absolute;
                    top: 48%;
                    left: 0;
                }
            }
            #right-car {
                img {
                    position: absolute;
                    top: 48%;
                    right: 0;
                }
            }
        }
    }
}

@keyframes example1 {
    0% {
        left: -20px;
    }
    100% {
        left: 0px;
    }
}

@keyframes example2 {
    0% {
        top: -15px;
    }
    100% {
        top: 0px;
    }
}

@keyframes example3 {
    0% {
        left: 20px;
    }
    100% {
        right: 0px;
    }
}

@keyframes example4 {
    0% {
        top: 15px;
    }
    100% {
        top: 0px;
    }
}
